@import url("https://fonts.cdnfonts.com/css/franklin-gothic");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font: {
    family: inherit;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: {
    family: "Franklin Gothic", sans-serif;
  }
  color: #fff;
  //background: url("../img/bg.png") no-repeat;
  background: #000;
  background-size: cover;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex-grow: 1;

  &__container {
    padding: 12px 0;
    background: #fff;
  }
}

.header {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

    &_top {
      border-bottom: 2px solid #fff;
    }
  }

  color: #fff;

  &__interaction {
    display: flex;
    gap: 12px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    font: {
      size: 18px;
    }
  }

  &__img {
    img {
      width: 25px;
      height: 25px;
    }
  }

  &__info {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__phone {
    font: {
      size: 18px;
    }
  }

  &__logo {
    width: 13%;
    font: {
      size: 56px;
    }
    text-align: center;
    text-transform: uppercase;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 70%,
      rgba(0, 0, 0, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;

    span {
      font: {
        size: 48px;
      }
    }
  }

  &__promo {
    width: 20%;
    font: {
      size: 18px;
      weight: 500;
    }
    padding-left: 12px;
  }
}

.nav {
  width: 67%;
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    font: {
      size: 18px;
      weight: 700;
    }
  }

  &__link {
    text-decoration: none;
  }
}

.promo {
  .swiper {
    .swiper-pagination-bullet {
      background: #fff;
      width: 15px;
      height: 15px;
    }
  }

  .swiper-wrapper {
    position: relative;
  }

  &__img {
    display: flex;
    justify-content: center;
    img {
      max-width: 80%;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background: none;
    border: none;
    font: {
      size: 32px;
    }
    color: #000;

    &.btn-prev {
      left: 17%;
    }

    &.btn-next {
      right: 17%;
    }
  }
}

.links {
  &__row {
    display: flex;
    padding: 40px 70px 0;
    justify-content: space-between;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    width: 25%;
    font: {
      size: 32px;
      weight: 600;
    }

    &.center {
      .links__text {
        transform: translateX(-50%);
        left: 50%;
      }
    }

    &.right {
      .links__text {
        left: unset;
        right: 0;
      }
    }
  }

  &__img {
    img {
      width: 100%;
      height: 125px;
      object-fit: cover;
    }
  }

  &__text {
    position: absolute;
    bottom: 18px;
    left: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.4);
  }
}

.catalog {
  color: #000;

  &__row {
    padding-top: 30px;
  }

  &__tabs {
    display: flex;
    gap: 12px;
    padding-left: 56px;
    font: {
      size: 18px;
      weight: 700;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 0;
    flex-wrap: wrap;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 19%;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 30px;
  background: #000;
  color: #fff;

  &__img {
    img {
      height: 180px;
      max-width: 100%;
    }
  }

  &__stars {
    img {
      width: 15px;
      height: 15px;
    }
  }

  &__name {
    text-align: center;
    flex-grow: 1;
    font: {
      size: 22px;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    img {
      width: 25px;
    }
  }

  &__price {
    font: {
      size: 22px;
      weight: 400;
    }
  }
}

.blog {
  color: #000;
  &__row {
    position: relative;
    padding: 60px 40px 0;
  }

  &__img {
    max-width: 70%;
    img {
      width: 100%;
      cursor: pointer;
    }
  }

  &__title {
    display: inline-block;
    font: {
      size: 32px;
      weight: 600;
    }
    margin-right: 24px;
    margin-bottom: 30px;
  }

  &__name {
    color: #fff;
    position: absolute;
    left: 70px;
    bottom: 35px;
    pointer-events: none;
    font: {
      size: 42px;
      weight: 700;
    }
  }

  &__link {
    text-decoration: none;
    font: {
      size: 18px;
    }
  }
}

.warning {
  &__wrapper {
    margin: 60px 8% 0;
    position: relative;
    background: #17132f;
    padding: 60px 10px 100px;
  }

  &__img {
    position: absolute;
    right: -10%;
    top: 20%;
    transform: translateY(-50%);
    max-width: 40%;
    img {
      width: 100%;
    }
  }

  &__text {
    font: {
      size: 22px;
      weight: 600;
    }
  }
}

.about {
  &__row {
    display: flex;
    padding: 40px 40px 0;
    color: #000;
  }

  &__img {
    max-width: 20%;
    img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    padding: 40px 15px;
  }

  &__title {
    font: {
      size: 20px;
      weight: 700;
    }
  }

  &__text {
    opacity: 0.7;
  }

  &__button {
    background: #05550d;
    border: none;
    padding: 10px 20px;
    color: #fff;

    font: {
      size: 16px;
    }
  }
}

.footer {
  margin-bottom: 40px;
  &__container {
    background: #ececec;
  }

  color: #000;

  &__row {
    display: flex;
    padding: 50px 40px 100px;
    gap: 120px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
  }

  &__title {
    font: {
      size: 18px;
      weight: 600;
    }
    padding-bottom: 8px;
  }

  &__link {
    font: {
      size: 16px;
    }
    text-decoration: none;
  }

  &__input {
    width: 100%;
    border: none;
  }

  &__label {
    display: flex;
  }

  &__button {
    background: #05550d;
    padding: 15px;
    border: none;
  }
}

.burger {
  display: none;

  &__button {
    position: relative;
    width: 30px;
    height: 40px;
    margin-right: 12px;

    span {
      display: block;
      position: absolute;
      width: 100%;
      pointer-events: none;
      height: 2px;
      background: #fff;
      &:nth-child(1) {
        top: 10px;
      }

      &:nth-child(2) {
        transform: translateY(-50%);
        top: 50%;
      }

      &:nth-child(3) {
        bottom: 10px;
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: -100%;
    visibility: hidden;
    width: 50vw;
    z-index: 999;
    padding: 40px 20px;
    height: 100%;
    transition: .2s;
    background: #fff;

    &_open {
      left: 0;
      visibility: visible;
      transition: .2s;
    }

    .nav {
      display: flex;
      &__list {
        flex-direction: column;
      }

      &__link {
        color: #000;
        font: {
          size: 24px;
        }
      }
    }
  }
}

.body_backdrop {
  &::before {
    position: fixed;
    content: "";
    inset: 0;
    z-index: 500;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1600px) {
  .container {
    max-width: 1400px;
  }

  .promo {
    &__button {
      &.btn-prev {
        left: 12%;
      }

      &.btn-next {
        right: 12%;
      }
    }
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1100px;
  }

  .catalog {
    &__wrapper {
      justify-content: center;
      gap: 20px;
    }
  }

  .product {
    width: 30%;
    margin-bottom: 12px;
  }

  .nav {
    &__list {
      gap: 20px;
      justify-content: center;
    }
  }

  .promo {
    &__button {
      &.btn-prev {
        left: 5%;
      }

      &.btn-next {
        right: 5%;
      }
    }
  }

  .warning {
    &__wrapper {
      padding-bottom: 50px;
    }

    &__text {
      padding-right: 30%;
    }
  }

  .about {
    &__img {
      max-width: 40%;
    }
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 992px;
  }

  .nav {
    &__list {
      gap: 12px;
    }
  }

  .about {
    &__info {
      padding: 20px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .product {
    width: 48%;
  }

  .nav {
    display: none;
  }

  .header {
    &__logo {
      width: auto;
    }

    &__promo {
      display: none;
    }
  }

  .header {
    &__info {
      .header__button {
        display: none;
      }
    }
  }

  .burger {
    display: block;
  }

  .promo {
    &__button {
      display: none;
    }
  }

  .warning {
    &__wrapper {
      padding: 40px 20px;
    }

    &__text {
      padding-right: 40%;
    }
  }

  .about {
    &__img {
      display: flex;
      align-items: center;
    }
  }

  .footer {
    &__row {
      gap: 40px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .product {
    width: 100%;
  }

  .links {
    &__row {
      flex-wrap: wrap;
    }

    &__link {
      width: 100%;
    }
  }

  .about {
    &__row {
      flex-wrap: wrap;
    }

    &__img {
      max-width: unset;
      flex-grow: 1;
      padding: 0 20px;
    }

    &__info {
      width: 100%;
    }
  }

  .footer {
    &__col {
      &:last-child {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .burger {
    &__menu {
      width: 70vw;
    }
  }
}
