@import url("https://fonts.cdnfonts.com/css/franklin-gothic");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font: {
    family: inherit;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: {
    family: "Franklin Gothic", sans-serif;
  }
  color: #fff;
  //background: url("../img/bg.png") no-repeat;
  background: #000;
  background-size: cover;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}


@media (max-width: 576px) {

}

.main {
  flex-grow: 1;

  &__container {
    padding: 12px 0;
    background: #fff;
  }
}

.header {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

    &_top {
      border-bottom: 2px solid #fff;
    }
  }

  color: #fff;

  &__interaction {
    display: flex;
    gap: 12px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    font: {
      size: 18px;
    }
  }

  &__img {
    img {
      width: 25px;
      height: 25px;
    }
  }

  &__info {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__phone {
    font: {
      size: 18px;
    }
  }

  &__logo {
    width: 13%;
    font: {
      size: 56px;
    }
    text-align: center;
    text-transform: uppercase;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 70%,
      rgba(0, 0, 0, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;

    span {
      font: {
        size: 48px;
      }
    }
  }

  &__promo {
    width: 20%;
    font: {
      size: 18px;
      weight: 500;
    }
    padding-left: 12px;
  }
}

.nav {
  width: 67%;
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    font: {
      size: 18px;
      weight: 700;
    }
  }

  &__link {
    text-decoration: none;
  }
}

.promo {
  .swiper {
    .swiper-pagination-bullet {
      background: #fff;
      width: 15px;
      height: 15px;
    }
  }

  .swiper-wrapper {
    position: relative;
  }

  &__img {
    display: flex;
    justify-content: center;
    img {
      max-width: 80%;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background: none;
    border: none;
    font: {
      size: 32px;
    }
    color: #000;

    &.btn-prev {
      left: 17%;
    }

    &.btn-next {
      right: 17%;
    }
  }
}

.links {
  &__row {
    display: flex;
    padding: 40px 70px 0;
    justify-content: space-between;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    width: 25%;
    font: {
      size: 32px;
      weight: 600;
    }

    &.center {
      .links__text {
        transform: translateX(-50%);
        left: 50%;
      }
    }

    &.right {
      .links__text {
        left: unset;
        right: 0;
      }
    }
  }

  &__img {
    img {
      width: 100%;
      height: 125px;
      object-fit: cover;
    }
  }

  &__text {
    position: absolute;
    bottom: 18px;
    left: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.4);
  }
}

.catalog {
  color: #000;

  &__row {
    padding-top: 30px;
  }

  &__tabs {
    display: flex;
    gap: 12px;
    padding-left: 56px;
    font: {
      size: 18px;
      weight: 700;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 0;
    flex-wrap: wrap;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 288px;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 30px;
  background: #000;
  color: #fff;

  &__img {
    img {
      height: 180px;
      max-width: 100%;
    }
  }

  &__stars {
    img {
      width: 15px;
      height: 15px;
    }
  }

  &__name {
    text-align: center;
    flex-grow: 1;
    font: {
      size: 22px;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    img {
      width: 25px;
    }
  }

  &__price {
    font: {
      size: 22px;
      weight: 400;
    }
  }
}
